@page "/transformer"
@page "/GitTransformer/transformer"
@using System.Collections.Immutable
@using GitTransformer.Pages.Components
@rendermode InteractiveWebAssembly

<PageTitle>Transformer</PageTitle>
<RadzenStack Orientation="@Orientation"
             AlignItems="AlignItems.Stretch"
             JustifyContent="JustifyContent.Stretch"
             Gap="5px"
             Style="width: 100%">
    <RadzenFieldset Text="Input" Style="width: 100%">
        <RadzenTextArea @bind-Value="@_input" id="input" Rows="@(AppData.WindowHeight / 26)" Style="width: 100%" />
    </RadzenFieldset>
    <RadzenFieldset Text="Transforms" Style="width: 100%">
        <RadzenAccordion Style="width: 100%">
            <Items>
                <RadzenAccordionItem Text="Variable"
                                     Icon="check_circle"
                                     @bind-Selected="_selected[0]">
                    <RadzenStack Orientation="Orientation.Vertical"
                                 AlignItems="AlignItems.Stretch"
                                 JustifyContent="JustifyContent.SpaceBetween"
                                 Style="width: 100%">
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Stretch"
                                     JustifyContent="JustifyContent.SpaceBetween"
                                     Gap="1px"
                                     Style="width: 100%">
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@(_ => ClearField("_split"))"
                                          Text="Clear"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@(_ => ClearField("_join"))"
                                          Text="Clear"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@(_ => _boundAll = new())"
                                          Text="Clear"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@(_ => _boundEach = new())"
                                          Text="Clear"
                                          ButtonStyle="ButtonStyle.Info"
                                          Style="width: 100%" />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Center"
                                     JustifyContent="JustifyContent.Center"
                                     Style="width: 100%"
                                     Gap="1px">
                            <RadzenFormField Text="Split"
                                             Variant="Variant.Outlined"
                                             Style="width: 100%">
                                <RadzenRadioButtonList @bind-Value="@_split"
                                                       TValue="string"
                                                       Orientation="Orientation.Vertical"
                                                       class="rz-mx-2">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="at" Value=@(" at ") />
                                        <RadzenRadioButtonListItem Text="," Value=@(",") />
                                        <RadzenRadioButtonListItem Text="\n" Value=@(@"\n") />
                                        <RadzenRadioButtonListItem Text="\t" Value=@(@"\t") />
                                    </Items>
                                </RadzenRadioButtonList>
                            </RadzenFormField>
                            <RadzenFormField Text="Join"
                                             Variant="Variant.Outlined"
                                             Style="width: 100%">
                                <RadzenRadioButtonList @bind-Value="@_join"
                                                       TValue="string"
                                                       Orientation="Orientation.Vertical"
                                                       class="rz-mx-2">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="\n\tat" Value=@(@"\n\tat ") />
                                        <RadzenRadioButtonListItem Text="," Value=@(",") />
                                        <RadzenRadioButtonListItem Text="\n" Value=@(@"\n") />
                                        <RadzenRadioButtonListItem Text="\t" Value=@(@"\t") />
                                    </Items>
                                </RadzenRadioButtonList>
                            </RadzenFormField>
                            <RadzenFormField Text="Bound-All"
                                             Variant="Variant.Outlined"
                                             Style="width: 100%">
                                <RadzenRadioButtonList @bind-Value="@_boundAll"
                                                       TValue="Bounds"
                                                       Orientation="Orientation.Vertical"
                                                       class="rz-mx-2">
                                    <Items>
                                        <RadzenRadioButtonListItem Text="(...)" Value=@(new Bounds("(", ")")) />
                                        <RadzenRadioButtonListItem Text="[...]" Value=@(new Bounds("[", "]")) />
                                        <RadzenRadioButtonListItem Text="{...}" Value=@(new Bounds("{", "}")) />
                                        <RadzenRadioButtonListItem Text="<...>" Value=@(new Bounds("<", ">")) />
                                    </Items>
                                </RadzenRadioButtonList>
                            </RadzenFormField>
                            <RadzenFormField Text="Bound-Each"
                                             Variant="Variant.Outlined"
                                             Style="width: 100%">
                                <RadzenStack Orientation="Orientation.Vertical"
                                             AlignItems="AlignItems.Center"
                                             JustifyContent="JustifyContent.Center"
                                             Gap="1px">
                                    <RadzenRadioButtonList @bind-Value="@_boundEach"
                                                           TValue="Bounds"
                                                           Orientation="Orientation.Vertical"
                                                           class="rz-mx-2">
                                        <Items>
                                            <RadzenRadioButtonListItem Text="@("[...]")"
                                                                       Value=@(new Bounds("[", "]")) />
                                            <RadzenRadioButtonListItem Text="@("\"...\"")"
                                                                       Value=@(new Bounds("\"", "\"")) />
                                            <RadzenRadioButtonListItem Text="'...'"
                                                                       Value=@(new Bounds("'", "'")) />
                                        </Items>
                                    </RadzenRadioButtonList>
                                    <RadzenLabel Component="Dynamic"
                                                 Text="Dynamic"
                                                 Style="font-size: 0.75em" />
                                    <RadzenCheckBox @bind-Value="@_dynamic"
                                                    TValue="bool"
                                                    Name="Dynamic" />
                                </RadzenStack>
                            </RadzenFormField>
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Stretch"
                                     JustifyContent="JustifyContent.SpaceBetween"
                                     Style="width: 100%"
                                     Gap="1px">
                            <RadzenStack Orientation="Orientation.Vertical"
                                         AlignItems="AlignItems.Stretch"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         Style="width: 100%"
                                         Gap="1px">
                                <RadzenTextBox @bind-Value="@_split"
                                               TValue="string?"
                                               Style="width: 100%"
                                               Placeholder="User Split" />
                                <div class="rz-text-align-center">
                                    <RadzenCheckBox @bind-Value=@_sort Name="Sort" />
                                    <RadzenLabel Text="Sort?" Component="Sort" class="rz-ms-1" />
                                </div>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Vertical"
                                         AlignItems="AlignItems.Stretch"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         Style="width: 100%"
                                         Gap="1px">
                                <RadzenTextBox @bind-Value="@_join"
                                               TValue="string?"
                                               Style="width: 100%"
                                               Placeholder="User Join" />
                                <div class="rz-text-align-center">
                                    <RadzenCheckBox @bind-Value=@_dupes Name="Dupes" />
                                    <RadzenLabel Text="NoDupes?" Component="Dupes" class="rz-ms-1" />
                                </div>
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Vertical"
                                         AlignItems="AlignItems.Stretch"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         Style="width: 100%"
                                         Gap="1px">
                                <RadzenTextBox @bind-Value="@_boundAll.Prefix"
                                               TValue="string"
                                               Style="width: 100%"
                                               Placeholder="Prefix All" />
                                <RadzenTextBox @bind-Value="@_boundAll.Suffix"
                                               TValue="string"
                                               Style="width: 100%"
                                               Placeholder="Suffix All" />
                            </RadzenStack>
                            <RadzenStack Orientation="Orientation.Vertical"
                                         AlignItems="AlignItems.Stretch"
                                         JustifyContent="JustifyContent.SpaceBetween"
                                         Style="width: 100%"
                                         Gap="1px">
                                <RadzenTextBox @bind-Value="@_boundEach.Prefix"
                                               TValue="string"
                                               Style="width: 100%"
                                               Placeholder="Prefix Each" />
                                <RadzenTextBox @bind-Value="@_boundEach.Suffix"
                                               TValue="string"
                                               Style="width: 100%"
                                               Placeholder="Suffix Each" />
                            </RadzenStack>

                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Center"
                                     JustifyContent="JustifyContent.Center"
                                     Gap="10px">
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@Transform"
                                          Text="Transform"
                                          ButtonStyle="ButtonStyle.Secondary"
                                          Style="width: 29%" />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="Defined"
                                     Icon="keyboard_double_arrow_right"
                                     @bind-Selected="_selected[1]">
                    <RadzenStack Orientation="Orientation.Vertical"
                                 AlignItems="AlignItems.Stretch"
                                 JustifyContent="JustifyContent.SpaceBetween"
                                 Gap="10px">
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Stretch"
                                     JustifyContent="JustifyContent.SpaceBetween"
                                     Gap="10px">
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@ClassFromQuery"
                                          Text="C# Class"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Style="width: 33%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@JsonToRecords"
                                          Text="Json->Records"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Style="width: 33%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@XmlToClass"
                                          Text="XML->Class"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Style="width: 33%" />
                        </RadzenStack>
                        <RadzenStack Orientation="Orientation.Horizontal"
                                     AlignItems="AlignItems.Stretch"
                                     JustifyContent="JustifyContent.SpaceBetween"
                                     Gap="10px">
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@JsonToXML"
                                          Text="Json->XML"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Style="width: 33%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Click="@XmlToJson"
                                          Text="XML->Json"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Style="width: 33%" />
                            <RadzenButton Variant="Variant.Outlined"
                                          Shade="Shade.Darker"
                                          Text="Clear"
                                          ButtonStyle="ButtonStyle.Warning"
                                          Click="@(_ => { ClearField("_input"); ClearField("_output"); })"
                                          Style="width: 33%" />
                        </RadzenStack>
                    </RadzenStack>
                </RadzenAccordionItem>
                <RadzenAccordionItem Text="JavaScript"
                                     Icon="code"
                                     @bind-Selected="_selected[2]">
                    <div style="width: 100%; height: 35vh">
                        <VSCodeJS />
                    </div>
                </RadzenAccordionItem>
            </Items>
        </RadzenAccordion>
        <br />
        <RadzenStack Orientation="Orientation.Vertical"
                     AlignItems="AlignItems.Center"
                     JustifyContent="JustifyContent.Stretch"
                     Style="width: 100%"
                     Gap="3px">
            <RadzenButton Variant="Variant.Outlined"
                          Shade="Shade.Darker"
                          Click="@(() => Orientation = Orientation == Orientation.Horizontal
                                            ? Orientation.Vertical : Orientation.Horizontal)"
                          Text="Change Orientation"
                          ButtonStyle="ButtonStyle.Secondary" />
            @if (Orientation == Orientation.Horizontal)
            {
                <RadzenImage Path="images/Autobots.png"
                             Style="width: 40%; opacity: 0.5;"
                             AlternateText="transformer" />
            }

        </RadzenStack>
    </RadzenFieldset>
    <RadzenFieldset Style="width: 100%">
        <HeaderTemplate>
            <RadzenButton Variant="Variant.Outlined"
                          Shade="Shade.Darker"
                          Click="@OutputModalView"
                          Text="View Output in Modal"
                          ButtonStyle="ButtonStyle.Secondary" />
        </HeaderTemplate>
        <ChildContent>
            <RadzenTextArea @bind-Value="@_output"
                            id="output" Rows="@(AppData.WindowHeight / 26)"
                            Style="width: 100%" />
        </ChildContent>
    </RadzenFieldset>
</RadzenStack>
